* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 15s ease infinite;    
  background-size: 400% 400%; 
  color: #898989;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
}

/* Animation */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

hr {
  color: #292929;
}

h2 {
  color: #292929;
  font-weight: 600;
}

h4 {
  color: #292929;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #292929;
  text-decoration: none !important;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  transition: all 0.5s ease-in-out 0s;
}

p {
  margin: 25px 0;
  padding: 0;
  font-size: 15px;
  color: #999999;
  line-height: 28px;
}

::-moz-selection {
  background: #404752;
  color: #fff;
}

::selection {
  background: #404752;
  color: #fff;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.padded-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-content {
  padding-top: 140px;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #404752;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #c6b398;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#hero .hero-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

.hero-content p {
  font-size: 13px;
  letter-spacing: 3px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}

.hero-content .list-social li {
  float: left;
  margin-right: 20px;
}

.hero-content .list-social li i {
  color: #fff;
  font-size: 20px;
}

#skill-set {
  width: 100%;
  height: auto;
  background: #f7f7f7;
}

#skill-set .div-skill-set {
  margin-top: 75px;
  padding: 2em;
  border: 10px solid #404752;
  text-align: center;
}

.p-heading {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  text-align: left;
}

#portfolio {
  position: relative;
  padding-bottom: 50px;
}

#portfolio .portfolio-item {
  margin-bottom: 30px;
}

.card {
  height: 22em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card:hover {
  transform: scale(1.05);
}

#unhoverable-card {
  transform: none;
  box-shadow: none;
}

.card-header > img {
  float: left!important
}

.php-icon {
  margin-top: 1.5px;
}

#coming-soon {
  height: 48px;
  width: 48px;
}

#about-me {
  height: auto;
  width: 100%;
  background: #f7f7f7;
}

#footer {
  background: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}

.credits {
  font-size: 13px;
}


@media (min-width: 768px) and (max-width: 991px) {

  /* skill set */
  #skill-set .div-skill-set {
    margin-top: 0;
  }

  .p-heading {
    font-size: 20px;
  }
}

/** Width between 767px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 767px) {

  /* skill set */
  #skill-set .div-skill-set {
    margin-top: 0px;
  }

  .p-heading {
    font-size: 20px;
  }
}

/** Width between 600px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 600px) {

  /* skill set */
  #skill-set .div-skill-set {
    margin-top: 0;
  }

  .p-heading {
    font-size: 20px;
  }
}

/** Width between 480px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 480px) {

  /* skill set */
  #skill-set .div-skill-set {
    margin-top: 0;
  }

  .p-heading {
    font-size: 20px;
  }
}

/** Width between 320px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 320px) {

  /* skill set */
  #skill-set .div-skill-set {
    margin: 0;
  }

  .p-heading {
    font-size: 20px;
  }
}
